slides/evo.mp4 filter=lfs diff=lfs merge=lfs -text
slides/training_water_slgc_logp_64_networks.html filter=lfs diff=lfs merge=lfs -text
slides/water_linear_simulation_tests.html filter=lfs diff=lfs merge=lfs -text
slides/water_slgc_logp_64_qq_plots.html filter=lfs diff=lfs merge=lfs -text
slides/water_slgc_logp_64_simulation_tests.html filter=lfs diff=lfs merge=lfs -text
figures/water_enthalpy.html filter=lfs diff=lfs merge=lfs -text
figures/water_eos.html filter=lfs diff=lfs merge=lfs -text
data_files/* filter=lfs diff=lfs merge=lfs -text
